<main>
    <h1>Trocafone Angular UI Components</h1>

  <section>
    <h1>Button</h1>
    <tf-button translation="Hello World!" className="button-primary button-medium" loadingText="Cargan" [isLoading]="true"></tf-button>
  </section>

  <section>
    <h1>Input</h1>
    <form action="" *ngIf="formGroup" [formGroup]="formGroup">
      <tf-input
        formControlName="search"
        className="input-large"
        placeholder="poner un texto aqui"
        ngDefaultControl
        type="text"
        [formGroup]="formGroup"
      ></tf-input>
    </form>
  </section>


  <section>
    <h1>Search</h1>
    <form action="" *ngIf="formGroup" [formGroup]="formGroup">
      <tf-search-input
        formControlName="search"
        placeholder="poner un texto aqui"
        ngDefaultControl
        [formGroup]="formGroup"
        [results] = 'searchItems'
        (onSelect) = 'onChangeSearch($event)'
        noResultsText="asd "
      ></tf-search-input>
    </form>
  </section>
</main>
