<div class="input-control">
      <input
      mask='{{ getMask() }}'
      [value]="value"
      type="{{ getInputType() }}"
      placeholder="{{ placeholder }}"
      class="{{ className }}"
      [ngClass]="{'error' : error} "
    />
  <span *ngIf='isPassword()' (click)='togglePasswordInput()' >
    <span *ngIf='!tooglePasswordInputType'>
      show text
    </span>
    <span *ngIf='tooglePasswordInputType'>
      show pass
    </span>
  </span>

  <span class="errors" *ngIf="error">{{ error }}</span>
</div>
