@import "../../../../troca-variables/troca-variables";

.button-content {
  position: relative;
  .loading-wheel {
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    animation: loading-wheel-spin 1.2s linear infinite;
    vertical-align: middle;
    position: absolute;
    left: calc(50% - 12px);
    top: calc(50% - 12px);
  }
}
@keyframes loading-wheel-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.button-primary, .button-secondary{
  &.button-loading{
    .loading-wheel{
      border: 4px solid rgba(255, 255, 255, 0.3);
      border-left-color: $white;
    }
  }
}
.button-primary-border{
 &.button-loading{
   .loading-wheel {
     border: 4px solid rgba(0, 0, 0, 0.1);
     border-left-color: $brand-primary;
   }
 }
}
.button-secondary-border{
  &.button-loading{
    .loading-wheel {
      border: 4px solid rgba(0, 0, 0, 0.1);
      border-left-color: $brand-secondary;
    }
  }
}
.button-primary-border, .button-secondary-border{
  &.button-loading:hover, .button-loading:hover{
    .loading-wheel, .loading-wheel{
      border: 4px solid rgba(255, 255, 255, 0.3);
      border-left-color: #fff;
    }
  }
}

