$brand-primary: #ff8800;
$brand-secondary: #385F74;
$brand-tertiary: #607D8B;
$brand-fourth: #0088cc;
$brand-fifth: #f06f31;
$brand-info:    #3f8aeb;
$brand-error: #d02828;
$brand-success: #52cb7b;
$white: #fff;
$black: #000000;
$brand-primary-lighter: #ffa53d;

$darkest-gray:  #333333;
$darker-gray: #404040;
$dark-gray: #5b5b5b;
$medium-dark-gray:  #999999;
$medium-gray:#cccccc;
$medium-light-gray: #d5d5d5;
$light-gray: #ececec;
$lighter-gray: #fafafa;
$lightest-gray: #f4f4f4;

$text-color: #404040;
$light-text-color: $white;

$font-family-base: 'Open Sans', sans-serif;