@import '../troca-variables/troca-variables.scss';

.container{
    width: 1170px;
    margin: 0 auto;
}

.colors{  width:100%;}
.colors .color{ width: 20%; display: inline-block; height: 40px; margin: 5px; font-size: 14px; color: #fff; text-align: center; vertical-align: middle;}
.colors .color.primary{ background: $brand-primary;}

